.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  position: relative;
  top:220px;
  left:55%;  
 
}
.labelUser{

}
.inputUser{
  position: relative;
  top: 30px;
  right: 110px;
  
}
.labelPass{
  position: relative;
  top: 60px;
  right: 225px;
}
.inputPass{
  position: relative;
  top: 90px;
  right: 333px;

}
.login{
  position: relative;
  top: 120px;
  right: 439px;
}
